<%= form_for(@grade) do |f| %>
  <% if @grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% @grade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Mark %><br>
    <%= f.text_field :Mark, class: 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :'Out of' %><br>
    <%= f.text_field :MarkOutOf, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit "Update Grade", class: "btn btn-primary"%>
  </div>
<% end %>
