<!DOCTYPE html>
<html>
  
<head>
<link rel="stylesheet" type="text/css" href="grades.css">
<script src="calculator.js">
</script>


</head>

  <body>

  
  <p id="notice"><%= notice %></p>

<section>
  <h1>Grade Calculator</h1>


<div>
<h3>Activities</h3>

<p>Give grades to the numeric activities:</p>

 

<table style="width:100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Short Name</th>
      <th>Grade</th>
      <th>Percentage</th>
      
    </tr>
  </thead>



  <tbody>
    
    <% @grades.each do |grade| %>
      <tr>
        <td>Activity <%= grade.id %></td>
        <td>A<%= grade.id %></td>
        <td><%= grade.Mark %> / <%= grade.MarkOutOf %></td>
        <td><%= 100*grade.Mark/[grade.MarkOutOf,1].max %>%</td>
        <td id=fix><%= link_to 'Fix Grade', edit_grade_path(grade) %> | <%= link_to 'Remove Activity', grade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
     <tr>
      <td><b>TOTAL</b></td>
      <td colspan="1"></td>
      <td colspan="1"></td>
      <b><td id="result" colspan="1"></td></b>
    </tr>
  </tbody>
</table>

<script>countActivities=0;</script>
<% @grades.each do |grade| %>
  <script>countActivities += 1;</script>
<% end %>

<script>
meanOfGrades=0;
averageOfGradesNumerator=0;
averageOfGradesDenominator=0;
averageOfGrades=0;
</script>
<% @grades.each do |grade| %>
<script>
var num = <%= grade.Mark %>;
var den = <%= grade.MarkOutOf %>
averageOfGradesNumerator += num;
  averageOfGradesDenominator += den;
  
  meanOfGrades += <%= grade.Mark/[grade.MarkOutOf,1].max %>;
  
  </script>
<% end %>
<script>meanOfGrades=getPercentage(meanOfGrades,countActivities);
averageOfGrades=getPercentage(averageOfGradesNumerator,averageOfGradesDenominator);</script>


<br>
<%= link_to 'Add an Activity', new_grade_path %>

<br>


<p align="center">
<button type="button" onclick="AVERAGE()">AVERAGE</button></button>
<button type="button" onclick="MEAN()">MEAN</button></button>
</p>



<a href="http://www.lib.sfu.ca/about/branches-depts/slc/learning/exam-prep/efficient-effective-study">Useful study tips</a>


</div>
</section>

</body>
</html>
