h1 {
  color: black;
  font-style: normal; }

h3 {
  color: #970000;
  font-family: "Times New Roman", Times, serif; }

body {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 40px;
  margin-left: 40px;
  border: 40px solid #970000;
  background-color: #f2eeee;
  padding: 20px;
  font-family: "Times New Roman", Times, serif; }

button {
  background-color: #970000;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px; }

tr {
  text-align: left;
  font-family: "Times New Roman", Times, serif; }

th {
  background-color: #cdc4c4;
  border: 1px solid black;
  text-align: left;
  font-family: "Times New Roman", Times, serif; }

td {
  border: 1px solid black;
  background-color: #f2eeee;
  text-align: left;
  font-family: "Times New Roman", Times, serif; }

#fix, #remove {
  border: none;
  text-align: left;
  font-family: "Times New Roman", Times, serif; }

thead {
  border: 1px solid black;
  background-color: #f2eeee;
  text-align: left; }

/*# sourceMappingURL=grades.css.map */
/* line 5, /home/ubuntu/workspace/calc_app/app/assets/stylesheets/grades.scss */
html {
  height: 100%;
  background-color: #970000;
}

/* line 10, /home/ubuntu/workspace/calc_app/app/assets/stylesheets/grades.scss */
section {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* line 19, /home/ubuntu/workspace/calc_app/app/assets/stylesheets/grades.scss */
h1 {
  color: black;
  font-style: normal;
}

/* line 24, /home/ubuntu/workspace/calc_app/app/assets/stylesheets/grades.scss */
h3 {
  color: #970000;
  font-family: "Times New Roman", Times, serif;
}

/* line 31, /home/ubuntu/workspace/calc_app/app/assets/stylesheets/grades.scss */
div {
  margin-right: 300px;
  background-color: #f2eeee;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
}

/* line 39, /home/ubuntu/workspace/calc_app/app/assets/stylesheets/grades.scss */
table {
  border-collapse: collapse;
}

/* line 43, /home/ubuntu/workspace/calc_app/app/assets/stylesheets/grades.scss */
button {
  background-color: #970000;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

/* line 55, /home/ubuntu/workspace/calc_app/app/assets/stylesheets/grades.scss */
tr {
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  border-spacing: 0px;
}

/* line 61, /home/ubuntu/workspace/calc_app/app/assets/stylesheets/grades.scss */
th {
  background-color: #cdc4c4;
  border: 1px solid black;
  border-spacing: 0px;
  border-collapse: collapse;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
}

/* line 71, /home/ubuntu/workspace/calc_app/app/assets/stylesheets/grades.scss */
td {
  border: 1px solid black;
  border-spacing: 0px;
  border-collapse: collapse;
  background-color: #f2eeee;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
}

/* line 80, /home/ubuntu/workspace/calc_app/app/assets/stylesheets/grades.scss */
#fix {
  border: none;
  border-spacing: 0px;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  background-color: #f2eeee;
}

/* line 89, /home/ubuntu/workspace/calc_app/app/assets/stylesheets/grades.scss */
form {
  padding: 10px;
}
/* line 1, /home/ubuntu/workspace/calc_app/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/ubuntu/workspace/calc_app/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/ubuntu/workspace/calc_app/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/ubuntu/workspace/calc_app/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 24, /home/ubuntu/workspace/calc_app/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 28, /home/ubuntu/workspace/calc_app/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /home/ubuntu/workspace/calc_app/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, /home/ubuntu/workspace/calc_app/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 44, /home/ubuntu/workspace/calc_app/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 50, /home/ubuntu/workspace/calc_app/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 58, /home/ubuntu/workspace/calc_app/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 69, /home/ubuntu/workspace/calc_app/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


