// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
    height: 100%; 
    background-color: rgb(151,0,0); 
}

section {
        margin-top: 40px;
    margin-bottom: 40px;

    //border: 40px solid rgb(151,0,0);
    //padding: 20px;
}


h1 {
    color: black;
    font-style: normal;
}

h3 {
    color: rgb(151, 0, 0);
    font-family: "Times New Roman", Times, serif;
}



div {
    margin-right: 300px; 
    background-color: rgb(242,238,238);
    padding: 20px;
    
    font-family: "Times New Roman", Times, serif;
}

table {
    border-collapse: collapse;
}

button {
    
    background-color: rgb(151,0,0); 
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}


tr {
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    border-spacing: 0px;
}

th
{
    background-color: rgb(205,196,196);
border: 1px solid black;
border-spacing: 0px;
    border-collapse: collapse;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
}

td {
    border: 1px solid black;
    border-spacing: 0px;
    border-collapse: collapse;
    background-color: rgb(242,238,238);
    text-align: left;
    font-family: "Times New Roman", Times, serif;
}

#fix{
    border: none;
    border-spacing: 0px;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    background-color: rgb(242,238,238);
}


form {
padding: 10px;
}