h1 {
  color: black;
  font-style: normal; }

h3 {
  color: #970000;
  font-family: "Times New Roman", Times, serif; }

body {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 40px;
  margin-left: 40px;
  border: 40px solid #970000;
  background-color: #f2eeee;
  padding: 20px;
  font-family: "Times New Roman", Times, serif; }

button {
  background-color: #970000;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px; }

tr {
  text-align: left;
  font-family: "Times New Roman", Times, serif; }

th {
  background-color: #cdc4c4;
  border: 1px solid black;
  text-align: left;
  font-family: "Times New Roman", Times, serif; }

td {
  border: 1px solid black;
  background-color: #f2eeee;
  text-align: left;
  font-family: "Times New Roman", Times, serif; }

#fix, #remove {
  border: none;
  text-align: left;
  font-family: "Times New Roman", Times, serif; }

thead {
  border: 1px solid black;
  background-color: #f2eeee;
  text-align: left; }

/*# sourceMappingURL=grades.css.map */
